.check{
    display: flex;
    justify-content: space-around;
   gap:30px;
   width: 100%;
   margin-top: 30px;
}
.home{
    background-color:rgb(196,196,196);
    height: 100%;
}



@media only screen and (max-width: 600px){
.check{
    /* width: 80%; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}

}
